body {
  padding-top: 50px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-content {
  padding: 40px 15px;
}

.panel-group {
  box-shadow: 5px 5px 8px #888888;
}

#function_classes_table .external_link_annotation {
  font-size: 85%;
}

#function_classes_table > tbody > tr > .rpkm_value {
  vertical-align:middle;
}

#table_diagram_tabs {
  margin-top: 15px;
}

#toggle_sample_description {
  margin-top: 15px;
}

#expList ul, li {
  list-style: none;
}

footer img.rectangle {
  width: 81px;
  height: 50px;
}

footer img.square {
  width: 50px;
  height: 50px;
}

.flash > li > p {
  font-size: 300%;
  text-align: center;
}

.glyphicon-remove {
  color: Tomato;
}
