{% extends "default_base.html" %}
{% block body %}
<!-- Modal -->
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id='about_text'>
        <h2 class="modal-title" id="myModalLabel">About BalticMicrobeDB</h2>
        <p>
          BalticMicrobeDB is a database containing quantifications of genes from the Baltic Sea Reference Metagenome (BARM).
          The quantifications are summarized for both taxonomic and functional annotations and can be compared between samples.
          Furthermore, a BLAST based query can be performed to compare any given sequence to what genes and annotations that are present within BARM.
          Worth noting is that only protein coding genes with either taxonomic or a functional anotation is included in the BalticMicrobeDB.
        </p>
        <p>
        Three sample sets are currently included, a time series, a spatial transect and a redoxcline sample set. The time series originates from the <a href="https://lnu.se/en/research/searchresearch/linnaeus-microbial-observatory-lmo/">Linnaeus Microbial Observatory</a>, year 2012, and is simply named lmo in the database. The spatial transect, named transect in the database, consists of three samples at different depths for each of ten stations with locations ranging across the entire Baltic Sea. The redoxcline sample set consists of samples from two stations (Gotland Deep and <a href="https://www.bokniseck.de/">Boknis Eck</a>) targeting the redoxcline.
        </p>
        <p>
          The genes in the database originates from a combined assembly of these three datasets with the combined size of 2.6 billion reads. The assembly was conducted with Megahit followed by gene prediction with Prodigal and resulted in 6.8 million unique gene sequences. Out of these, 5.4 million genes received some kind of annotation and was included in the BalticMicrobeDB.
        </p>
        <p>
        All data related to BARM, such as gene sequences, taxonomic annotations, functional annotations, and quantifications of individual genes can be downloaded from <a href="https://figshare.com/s/3171d2e7c0f470fc488a">Figshare</a>. Read sequences together with sample metadata for the transect and redoxcline datasets can be found on <a href="https://www.ebi.ac.uk/ena/data/view/PRJEB22997">European Nucleotide Archive</a> and for the lmo dataset at <a href="https://www.ncbi.nlm.nih.gov/sra?linkname=bioproject_sra_all&from_uid=273799">NCBI Short Read Archive</a>.
        </p>
        <p>
          For more detailed information and for citing BalticMicrobeDB or BARM when you use it in your publication, please refer to the accompanying manuscript (submitted) "BARM and BalticMicrobeDB: a reference metagenome and interface to meta-omic data for the Baltic Sea".
        </p>
        <p>
        BalticMicrobeDB is hosted by the <a href="http://envgen.github.io/">Environmental Genomics</a> group at <a href="https://www.kth.se/">KTH</a> and <a href="https://www.scilifelab.se/">SciLifeLab</a>. For questions, please contact <a href="mailto:balticmicrobedb@gmail.com">balticmicrobedb@gmail.com</a>.
        </p>
    </div>
  </div>
</div>
{% endblock body %}
