<div id="sparkline_diagram" class="container-fluid" data-sample_names='{{ sample_scilifelab_codes|tojson|safe }}'>
  <table class="table" id="function_classes_diagram_table" current_taxon_level="{{current_level}}">
  <thead>
    <tr>
      <th>Gene</th>
      {% for sample_set in sample_sets %}
      <td>{{sample_set.name}}</td>
      {% endfor %}
    </tr>
  </thead>
    <tbody class='rpkm_values_tbody'>
    {% for gene, sample_set_d in table.items() %}
      <tr>
      <td><a href="#" data-toggle="tooltip" title="{{gene.name}}" data-placement="top">{{gene.name}}</a>
      </td>
      {% for sample_set in sample_sets %}
        <td data-sparkline='{{json_table[gene.name][sample_set] | tojson}}'></td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<div id="result"></div>
</div>
<script>
  generate_sparkline();
</script>
