<div class="container-fluid">
<table class="table" id=gene_counts_table>
  <thead>
    <tr>
      <th>Gene name</th>
      <th class="annotations_in_table">Annotations</th>
      <th class="taxonomy_in_table">Taxonomy</th>
      <th>E-value</th>
      <th>Identity (%)</th>
      <th>Alignment length</th>
      {% for sample in samples %}
      <th>
        <a href="#" data-toggle="tooltip" data-title="{% include 'sample_info_tooltip.html' %}" data-html="true">{{sample.scilifelab_code}}</a>
        <span class='sample_description_in_table'>{% include 'sample_info_tooltip.html' %}</span>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class='rpkm_values_tbody'>
  {% for gene, sample_d in table.items() %}
    <tr>
      <td><a href="#" data-toggle="tooltip" title="Annotations:
        {% for annotation_type, annotation_l in sample_d['annotations'].items() %}
          {% for annotation in annotation_l %}
          {{annotation.type_identifier}}
          {% endfor %}
        {% endfor %}" data-placement="top">{{gene.name}}</a></td>
      <td class="annotations_in_table">
        {% for annotation_type, annotation_l in sample_d['annotations'].items() %}
          {% for annotation in annotation_l %}
          <a href="{{annotation.external_link}}" data-toggle="tooltip" title="{{annotation_type}}: {{annotation.description}}" data-placement="top">{{annotation.type_identifier}}</a>
          {% endfor %}
        {% endfor %}
      </td>
      <td class="taxonomy_in_table">{{ sample_d['taxonomy'] }}</td>
      <td>{{ sample_d['e_value'] }}</td>
      <td>{{ sample_d['identity'] }}</td>
      <td>{{ sample_d['alignment_length'] }}</td>
      {% for sample in samples %}
        <td class="rpkm_value">{{sample_d[sample] }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
