{% extends "default_base.html" %}
{% block body %}
<div class="container">
  <div id='spinner_div' style="display:none">
    <div class="row">
      <div class="col-md-4 col-md-offset-3"><h2>Please wait while the query finishes</h2></div>
      <div class="col-md-3"><img src="{{ url_for('static', filename='images/loader.gif') }}" id="loading-indicator" style="display:none" />
      </div>
    </div>
  </div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" id="filter_accordion" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Filtering Options
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">

          <form action="" method="post" id='filter_form' name="filter" class="filter_function">

            <h4>General Settings</h4>
            <div class="row">
              <div class="col-md-3">
                  {{ form.hidden_tag() }}
                <div class="form-group">
                  <label for="function_class">Function Class</label>
                  {{ form.function_class(class="form-control") }}
                  <label for="limit">Number of rows</label>
                  {{ form.limit(class="form-control") }}
                </div>
              </div>

              <div class="col-md-3 col-md-offset-1">
                <div id="filter_function_classes_alternative_radio">
                  {% for subfield in form.filter_alternative %}
                  <div class="radio">
                    <label>
                      {{ subfield }}
                      {{ subfield.label.text}}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-5">
                <fieldset class="filter_with_search">
                  <label for={{ "filter_with_search" }}>Start searching by typing here</label>
                  {{ form.search_annotations(class="form-control") }}
                </fieldset>
                <fieldset class="filter_with_type_identifiers">
                  <div class="form-group" id="type_identifiers">
                    <ul class="list-unstyled">
                      {% for subfield in form.type_identifiers.entries %}
                        <li>
                        <label for={{ subfield.id }}>Type Identifier</label>
                        {{ subfield(class="form-control") }}
                        </li>
                      {% endfor %}
                    </ul>
                    <button class="btn btn-default" type="button" id="AddAnotherTypeIdentifier">Add another type identifier</button>
                    <button class="btn btn-default" type="button" id="RemoveLastTypeIdentifier">Remove last type identifier</button>
                  </div>
                </fieldset>
              </div>
              <div class="sample_filtering">

                <div class="col-md-6">
                  <h4>Choose sample group</h4>
                  <div class="form-group">
                    <span class="help-block">Select sample groups from which counts will be displayed for matching annotations. Selecting none is equivalent to selecting all.</span>
                    <label for="sample_groups">Sample Group</label>
                    {{ form.select_sample_groups(class="form-control") }}
                  </div>
                </div>
                <div class="col-md-6">
                </div>
              </div>
              <div class="col-md-11">
                <div id="search_result_annotations">
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
            <div class="col-md-8">
              {{ form.submit_view(class='btn btn-default') }}
            </div>
            <div class="col-md-4">
              <div class="input-group">
                {{ form.download_select(class="form-control") }}
                <span class="input-group-btn">
                  {{ form.submit_download(class='btn btn-default') }}
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-default" id="toggle_description_column" value='show'>Show Annotation Description</button>

<ul class="nav nav-tabs" id="table_diagram_tabs">
  <li role="presentation" class="active"><a href="#sparkline_tab" aria-controls="sparkline_tab" role="tab" data-toggle="tab">Diagram</a></li>
  <li role="presentation"><a href="#table_tab" aria-controls="table_tab" role="tab">Table</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="sparkline_tab">
    {% include 'function_classes_diagram.html' %}
  </div>
  <div role="tabpanel" class="tab-pane" id="table_tab">
    {% include 'function_classes_table.html' %}
  </div>
</div>


<script type=text/javascript>
  $(document).ready(function () {
      $('#table_diagram_tabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
      });
      $('#AddAnotherTypeIdentifier').click(function () {
          clone_field_list('.form-group#type_identifiers li:last');
      });

      $('#RemoveLastTypeIdentifier').click(function () {
          remove_last_field_list('.form-group#type_identifiers li:last');
      });

      $('#filter_function_classes_alternative_radio .radio label input').click(function(event) {
        selector_to_disable = $("fieldset:not([disabled])")
        selector_to_enable = $("fieldset.".concat($(this).val()));
        disable_form_element(selector_to_disable, selector_to_enable);
      });

      fetch_search_result();

      selector_to_disable = $("fieldset:not([disabled])")
      selector_to_enable = $("fieldset.".concat($("#filter_function_classes_alternative_radio :checked").val()));
      disable_form_element(selector_to_disable, selector_to_enable);
      enable_tooltip();
      hide_description_column();
      $('#toggle_description_column').click(function(event) {
        if ($(this).attr('value') == 'show') {
           $(this).text("Hide Annotation Description");
           $(this).attr('value', 'hide');
           show_description_column();
        } else {
           $(this).text("Show Annotation Description");
           $(this).attr('value', 'show');
           hide_description_column();
        }
      });

      hide_sample_information();
      $('#toggle_sample_description').click(function(event) {
        if ($(this).attr('value') == 'show') {
           $(this).text("Hide Sample Information");
           $(this).attr('value', 'hide');
           show_sample_information();
        } else {
           $(this).text("Show Sample Information");
           $(this).attr('value', 'show');
           hide_sample_information();
        }
      });

      $('#submit_view').click(function() {
        $('#spinner_div').show();
        $('#loading-indicator').show();
        return true;
      });

      $('#submit_download').click(function() {
        $('#spinner_div').show();
        $('#loading-indicator').show();
        $('.flash').hide();
        setTimeout(function() {
          $('#spinner_div').hide();
          $('#loading-indicator').hide();
        }, 20000);
        return true;
      });
  });

  function enable_tooltip() {
    $('[data-toggle="tooltip"]').tooltip();
  }

  function show_description_column(){
    $('thead .hideable_annotation_description').show();
    $('tbody .hideable_annotation_description').show();
  }

  function hide_description_column(){
    $('thead .hideable_annotation_description').hide();
    $('tbody .hideable_annotation_description').hide();
  }

  function show_sample_information(){
    $('#function_classes_table thead .sample_description_in_table').show();
  }

  function hide_sample_information(){
    $('#function_classes_table thead .sample_description_in_table').hide();
  }

  function clone_field_list(selector) {
      var new_element = $(selector).clone(true);

      /* Increment id integer with 1 */
      var elem_id = new_element.find(':input')[0].id;
      var elem_num = parseInt(elem_id.replace(/.*-([0-9]+).*/m, '$1')) + 1;

      /* Update all input and label tags within the new element */
      new_element.find(':input').each(function() {
          var id = $(this).attr('id').replace('-' + (elem_num - 1), '-' + elem_num);
          $(this).attr({'name': id, 'id': id}).val('').removeAttr('checked');
      });
      new_element.find('label').each(function() {
          var new_for = $(this).attr('for').replace('-' + (elem_num - 1), '-' + elem_num);
          $(this).attr('for', new_for);
      });
      $(selector).after(new_element);
  }

  function remove_last_field_list(selector) {
      var elem_id = $(selector).find(':input')[0].id;
      var elem_num = parseInt(elem_id.replace(/.*-([0-9]+).*/m, '$1'));

      if (elem_num > 0) {
        $(selector).remove();
      }
  }

  $('#search_annotations').on('input', function(e){
    fetch_search_result()
  });

  $('#function_class').on('input', function(e){
    fetch_search_result()
  });

  function fetch_search_result() {
    var current_input = $('#search_annotations').val();
    var function_class = $('#function_class').val();
    $.get( "ajax/search_annotations", { text_input: current_input, function_class: function_class }, function(data){
      $('#search_result_annotations').replaceWith(data);
    });
  };


  function disable_form_element(selector_to_disable, selector_to_enable) {
    selector_to_disable.prop('disabled', true);
    selector_to_enable.prop('disabled', false);
  }

</script>
{% endblock body %}
