{% extends "default_base.html" %}
{% block body %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="function_class_choice" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Function Classes
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="funcion_class_choice">
    {% for function_class in function_classes %}
    <li><a href="#" class="filter_on_function_class" id="{{'only_{}'.format(function_class)}}">{{function_class}}</a></li>
    {% endfor %}
  </ul>
</div>
{% include 'function_classes_table.html' %}
<script type=text/javascript>
  $(document).ready(function() {
    $('a.filter_on_function_class').click( function () {
      $.get( "ajax/function_classes_table.html", { button_id: $(this).attr('id') }, function(data){
        $('table').replaceWith(data)
      })
    })
  })
</script>
{% endblock body %}
<!-- $(this).attr('id') ) -->
