{% extends "default_base.html" %}
{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>BalticMicrobeDB</h1>
    <p>Welcome to BalticMicrobeDB - an interface to meta-omic data from the Baltic Sea. Choose your entry point below.</p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Functional Categories</h2>
      <p>This will show you the abundance of functional gene categories in the samples.</p>
      <p><a class="btn btn-default" id=link_to_functional href="/functional_table" role="button">View Data &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Taxonomy</h2>
      <p>This will show you the abundance of identified taxa in the samples.</p>
      <p><a class="btn btn-default" id=link_to_taxonomic href="/taxonomy_table" role="button">View Data &raquo;</a></p>
    </div>
  </div>
</div>
<div id="container" style="width:100%; height:400px;"></div>
<script type=text/javascript>
</script>
{% endblock body %}
