{% extends "default_base.html" %}


{% block body %}

<div class="filter_taxon_table">
  <h4>General Settings</h4>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="taxon_level_select">Taxonomy Level</label>
        <select class="form-control" id="taxon_level_select" name="function_class">
          {% for taxon_level in taxonomy_levels %}
            <option value="{{taxon_level}}">{{taxon_level}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="row_limit_select">Number of rows</label>
        <select class="form-control" id="row_limit_select" name="row_limit_select">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="all">Show All</option>
        </select>
      </div>
    </div>
    <input class="btn btn-default" id="updateTaxonTable" type="button" value="Update" onclick="fetch_new_table_data()"/>
  </div>
</form>
<button class="btn btn-default" id="toggle_full_taxonomy" value='show'>Show Full Taxonomy</button>
<button class="btn btn-default" id="toggle_select_all" value='unselect'>Unselect All</button>

<ul class="nav nav-tabs" id="table_diagram_tabs">
  <li role="presentation" class="active"><a href="#sparkline_tab" aria-controls="sparkline_tab" role="tab" data-toggle="tab">Diagram</a></li>
  <li role="presentation"><a href="#table_tab" aria-controls="table_tab" role="tab">Table</a></li>
  <li role="presentation"><a href="#stacked_bar_tab" aria-controls="stacked_bar_tab" role="tab">Stacked Bar</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="sparkline_tab">
    {% include 'taxon_highcharts_diagram.html' %}
  </div>
  <div role="tabpanel" class="tab-pane" id="table_tab">
    {% include 'taxon_actual_table.html' %}
  </div>
  <div role="tabpanel" class="tab-pane" id="stacked_bar_tab">
    {% include 'taxon_highcharts_stacked_bar.html' %}
  </div>
</div>

<script type=text/javascript>
  $(document).ready(function () {
      enable_tooltip();
      hide_full_taxonomy();
      $('#table_diagram_tabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
      });
      $( "#taxon_level_select option[value='{{current_level}}']" ).each(function() {
        $(this).prop('selected', true);
      });
      $( "#row_limit_select option[value='{{row_limit}}']" ).each(function() {
        $(this).prop('selected', true);
      });
      $('#toggle_full_taxonomy').click(function(event) {
        if ($(this).attr('value') == 'show') {
           $(this).text("Hide Full Taxonomy");
           $(this).attr('value', 'hide');
           show_full_taxonomy();
        } else {
           $(this).text("Show Full Taxonomy");
           $(this).attr('value', 'show');
           hide_full_taxonomy();
        }
      });

      hide_sample_information();
      $('#toggle_select_all').click(function(event) {
        if ($(this).attr('value') == 'select') {
          $(this).text("Unselect All");
          $(this).attr('value', 'unselect');
          select_all_taxa();
        } else {
          $(this).text("Select All");
          $(this).attr('value', 'select');
          unselect_all_taxa();
        }
      });

      $('#toggle_sample_description').click(function(event) {
        if ($(this).attr('value') == 'show') {
           $(this).text("Hide Sample Information");
           $(this).attr('value', 'hide');
           show_sample_information();
        } else {
           $(this).text("Show Sample Information");
           $(this).attr('value', 'show');
           hide_sample_information();
        }
      });
  });

  function fetch_new_table_data() {
    var taxon_level = $( "#taxon_level_select" ).val();
    var current_level = $( "#taxon_actual_table #taxonomy_table" ).attr("current_taxon_level");
    var row_limit = $( "#row_limit_select" ).val();
    var parent_values = new Array();
    $(".rpkm_values_tbody input:checked").each(function(){
        parent_values.push($(this).val());
    });
    var url = "/taxonomy_table?" + $.param( { taxon_level: taxon_level, parent_values: parent_values,  parent_level: current_level, row_limit: row_limit } );
    window.location = url;
  };

  function enable_tooltip() {
    $('[data-toggle="tooltip"]').tooltip();
  }

  function select_all_taxa(){
    $(".rpkm_values_tbody input:not(:checked)").each(function(){
      $(this).prop('checked', true);
    });
  }

  function unselect_all_taxa(){
    $(".rpkm_values_tbody input:checked").each(function(){
      $(this).prop('checked', false);
    });
  }

  function show_full_taxonomy(){
    $('#taxonomy_table thead .full_taxonomy').show();
    $('#taxonomy_table tbody .full_taxonomy').show();
  }

  function hide_full_taxonomy(){
    $('#taxonomy_table thead .full_taxonomy').hide();
    $('#taxonomy_table tbody .full_taxonomy').hide();
  }

  function show_sample_information(){
    $('#taxonomy_table thead .sample_description_in_table').show();
  }

  function hide_sample_information(){
    $('#taxonomy_table thead .sample_description_in_table').hide();
  }
</script>
{% endblock body %}
