<div id="sparkline_diagram" class="container-fluid" data-sample_names='{{ sample_scilifelab_codes|tojson|safe }}'>
  <table class="table" id="taxonomy_table" current_taxon_level="{{current_level}}">
  <thead>
    <tr>
      <th> {{ current_level }} </th>
      <th class="full_taxonomy">Full Taxonomy</th>
      <th>Quantity</th>
      </th>
    </tr>
  </thead>
  <tbody class='rpkm_values_tbody'>
  {% for complete_taxon, sample_d in table.items() %}
    <tr>
      <td>
        <nobr>
          <label>
            <input type="checkbox" name="tax_filter" value="{{complete_taxon}}"> {{complete_val_to_val[complete_taxon]}}
          </label>
        </nobr>
      </td>
      <td class="full_taxonomy">{{complete_taxon}}</td>
      <td data-sparkline="{% for sample in samples %} {{sample_d[sample] | round(4)}}, {% endfor %}"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div id="result"></div>
</div>
<script>
  generate_sparkline();
</script>
