{% extends "default_base.html" %}


{% block body %}

<div class="row">
  <div class="col-md-3">
    <h3>Choose your taxa</h3>
    <p>Click on plus-sign to expand and click on the name of the taxon to add or remove it to the analysis. Click on the same taxon again to remove it.</p>
    <div id="expList">
      {% include 'taxon_tree_nodes_for_table.html' %}
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-9">
        <div class="btn-group sampleset-select" data-toggle="buttons">
          {% for sample_set, samples in sample_sets.items() %}
            <label class="btn btn-primary active" id="toggle_btn_{{sample_set.name}}">
              <input type="checkbox" autocomplete="off" checked>{{sample_set.name}}
            </label>
          {% endfor %}
        </div> 
      </div>
      <div class="col-md-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Need Help?
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Information</h4>
              </div>
              <div class="modal-body">
                <p>
                  This page contains abundance values per sample for different taxonomy values and levels. The abundance is represented by sum of tpm values for the individual genes assigned to the given taxonomy.
                </p>
                <h4>Varying levels of taxonomic assignments</h4>
                <p>
                  Genes that were not assigned to the species level (the lowest level represented in the database), but instead assigned to a higher ranking less precise level contribute to counts of their parent levels but also to their own taxonomic entity named as &ltunassigned x&gt. 
                </p>
                <p>
                  As an example, the taxa Eukaryota contains the summed counts of all Eukaryotic taxa included but also the counts of the category '&ltunassigned Eukaryota&gt'
                </p>
                <h4>Sample Groups</h4>
                <p>Samples are grouped in predefined sample groups. You can choose which of these sample groups to view through the buttons above the Diagram and Table tabs.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs" id="table_diagram_tabs">
      <li role="presentation" class="active" id="sparkline_tab_btn"><a href="#sparkline_tab" aria-controls="sparkline_tab" role="tab" data-toggle="tab">Diagram</a></li>
      <li role="presentation" id="table_tab_btn"><a href="#table_tab" aria-controls="table_tab" role="tab">Table</a></li>
    </ul>
    <div id="sparkline_diagram" class="container-fluid" data-sample_names='{{ sample_scilifelab_codes|tojson|safe }}'>
      <table class="table" id="taxonomy_table" current_taxon_level="{{current_level}}">
      <thead>
        <tr>
          <th></th>
          <th>Taxonomy</th>
          {% for sample_set, samples in sample_sets.items() %}
            <th class="sparkline_column sample_group_{{sample_set.name}} sample_set_selected">{{sample_set.name}}</th>
            {% for sample in samples %}
            <th class="rpkm_value sample_group_{{sample_set.name}} sample_set_selected">
              <a href="#" data-toggle="tooltip" data-title="{% include 'sample_info_tooltip.html' %}" data-html="true">{{sample.scilifelab_code}}</a>
            </th>
            {% endfor %}
          {% endfor %}
        </tr>
      </thead>
      <tbody class='rpkm_values_tbody'>
      {% for complete_taxon, table_row in table.items() %}
        {% include 'taxon_tree_table_row.html' %}
      {% endfor %}
      </tbody>
    </table>
    <div id="result"></div>
    </div>
    <script>
      generate_sparkline();
    </script>
  </div>
</div>

<script type=text/javascript>
  /* Taxonomic tree functions */
  function what_happens_when_clicking(i_tag) {
      var li_tag = $(i_tag).parent();
      
      function get_new_node_list(ul_tag) {
        var node_taxonomy = $(i_tag).attr("full_taxonomy")
        var taxonomy_level = $(i_tag).attr("taxonomy_level")
        $.get("ajax/taxon_tree_nodes_for_table/" + taxonomy_level + "/" + node_taxonomy, function(data){
          $(ul_tag).replaceWith(data);
          $(li_tag).children("ul").find("i").click(function() {
            var i_tag = this;
            what_happens_when_clicking(i_tag)
          });
          $(li_tag).children("ul").find("a").click(function() {
            var a_tag = this;
            add_or_remove_table_row(a_tag);
          });
        });
      };
      
      $(i_tag).toggleClass("glyphicon-plus");
      $(i_tag).toggleClass("glyphicon-minus");
      if (!$(li_tag).hasClass("expanded")) {
        get_new_node_list($(li_tag).children("ul"));
      } else {
        $(li_tag).children("ul").toggle("medium")
      }
      $(li_tag).toggleClass("expanded")
  }

  $(function() {
    $("#expList").find("li").find("i").unbind("click").click(function() {
      var i_tag = this;
      what_happens_when_clicking(i_tag);
    });
  });

  /* Functions for adding and removing rows */
  function remove_row(taxonomy_id) {
    $('.rpkm_values_tbody').children('#' + taxonomy_id).remove();
  }

  function add_row(full_taxonomy, taxonomy_level) {
    $.when(
      $.get("ajax/taxon_tree_table_row/" + taxonomy_level + "/" + full_taxonomy, function(data){
        $('.rpkm_values_tbody').append(data);
      })
    ).then(function() {
      new_table_row_added();
    });
  }

  function replace_chars_for_tax_id(full_taxonomy) {
    var taxonomy_id = full_taxonomy.replace(/;/g, '-').replace(/ /g, '_').replace(/\./g, '_')
    return taxonomy_id;
  };

  function add_or_remove_table_row(a_tag) {
    var li_tag = $(a_tag).parent();
    var full_taxonomy = $(li_tag).children("i").attr("full_taxonomy");
    var taxonomy_level = $(li_tag).children("i").attr("taxonomy_level");
    var taxonomy_id = replace_chars_for_tax_id(full_taxonomy);

    if($('.rpkm_values_tbody').children('#' + taxonomy_id).length == 0) {
      add_row(full_taxonomy, taxonomy_level);
    } else {
      remove_row(taxonomy_id);
    }
  }

  function new_table_row_added() {
    $(".rpkm_values_tbody").find("tr").find("td").find(".glyphicon-remove").unbind("click").click(function() {
      var i_tag = this;
      var full_taxonomy = $(i_tag).attr('full_taxonomy');
      var taxonomy_id = replace_chars_for_tax_id(full_taxonomy);
      remove_row(taxonomy_id);
    });
    enable_tooltip();
    generate_sparkline();
    /* Check which sample sets are active and hide the others */
    $(".sampleset-select label").each(function() {
      if(!$(this).hasClass('active')) {
        var sample_set_class = $(this).attr('id').replace('toggle_btn_', 'sample_group_')
        $('.sparkline_column.' + sample_set_class).hide();
        $('.sparkline_column.' + sample_set_class).removeClass('sample_set_selected');
        $('.rpkm_value.' + sample_set_class).hide();
        $('.rpkm_value.' + sample_set_class).removeClass('sample_set_selected');
      };
    });
    /* Check which tab is active to decide which ones to hide */
    if($("#table_diagram_tabs .active").attr('id') == 'sparkline_tab_btn') { 
      show_sparkline_tab()
    } else {
      show_table_tab()
    }
  };

  $(function() {
    $("#expList").find("li").find("a").unbind("click").click(function() {
      var a_tag = this;
      /* Find out whether row is present in table */
      add_or_remove_table_row(a_tag);
    });
  });

  /* sample groups */
  $(".sampleset-select label").on('click', function toggle_sample_group() {
    var sample_set_class = $(this).attr('id').replace('toggle_btn_', '.sample_group_')
    /* Toggle activation of sample set */
    $(sample_set_class).toggleClass('sample_set_selected')
    $('#table_diagram_tabs li.active').each(function() {
      if($(this).attr('id') == 'sparkline_tab_btn'){
        show_sparkline_tab();
      } else {
        show_table_tab();
      }
    })
  });


  /* tabs */
  function init_tabs() {
      $('#table_diagram_tabs #sparkline_tab_btn').click(function (e) {
        e.preventDefault()
        $(this).parent().children('.active').removeClass('active')
        $(this).addClass('active')
        show_sparkline_tab()
      });
      $('#table_diagram_tabs #table_tab_btn').click(function (e) {
        e.preventDefault()
        $(this).parent().children('.active').removeClass('active')
        $(this).addClass('active')
        show_table_tab()
      });
  };

  function show_sparkline_tab() {
    $('.sparkline_column.sample_set_selected').show()
    $('.sparkline_column').not('.sample_set_selected').hide()
    $('.rpkm_value').hide()
  };

  function show_table_tab() {
    $('.sparkline_column').hide()
    $('.rpkm_value.sample_set_selected').show()
    $('.rpkm_value').not('.sample_set_selected').hide()
  };

  /* General */
  function enable_tooltip() {
    $('[data-toggle="tooltip"]').tooltip();
  }

  $(document).ready(function() {
      new_table_row_added();
      init_tabs();
      show_sparkline_tab();
  });
</script>
{% endblock body %}
