<tr id={{table_row['complete_taxonomy_id']}}>
  <td>
    <i class="glyphicon glyphicon-remove" full_taxonomy="{{complete_taxon}}"></i> </i>
  </td>
  <td>
    <nobr>
      <label>
        <a href="#" data-toggle="tooltip" data-title="{{complete_taxon}}" data-html="true">{{complete_val_to_val[complete_taxon]}}</a>
      </label>
    </nobr>
  </td>
  {% for sample_set, samples in sample_sets.items() %}
  <td class="highcharts_left_max sample_group_{{sample_set.name}} sample_set_selected"><nobr>{{table_row['highcharts_max_val'][sample_set.name]}}</nobr></td>
    <td class='sparkline_column sample_group_{{sample_set.name}} sample_set_selected' data-sample_group="{{sample_set.name}}" data-sparkline='{{json_table[complete_taxon][sample_set.name] | tojson }}'></td>
    <td class="highcharts_right_max sample_group_{{sample_set.name}} sample_set_selected"><nobr>{{table_row['highcharts_max_val'][sample_set.name]}}</nobr></td>
  {% endfor %}
  {% for sample_set, samples in sample_sets.items() %}
    {% for sample in samples %}
      <td class="rpkm_value sample_group_{{sample_set.name}} sample_set_selected">{{table_row[sample] | round(4)}}</td>
    {% endfor %}
  {% endfor %}
</tr>
