<button class="btn btn-default" id="toggle_sample_description" value='show'>Show Sample Information</button>
<div id="taxon_actual_table" class="container-fluid">
  <table class="table" id="taxonomy_table" current_taxon_level="{{current_level}}">
  <thead>
    <tr>
      <th> {{ current_level }} </th>
      <th class="full_taxonomy">Full Taxonomy</th>
      {% for sample in samples %}
      <th>
        <a href="#" data-toggle="tooltip" data-title="{% include 'sample_info_tooltip.html' %}" data-html="true">{{sample.scilifelab_code}}</a>
        <span class='sample_description_in_table'>{% include 'sample_info_tooltip.html' %}</span>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class='rpkm_values_tbody'>
  {% for complete_taxon, sample_d in table.items() %}
    <tr>
      <td>
        <nobr>
          <label>
            <input type="checkbox" name="tax_filter" value="{{complete_taxon}}" checked> {{complete_val_to_val[complete_taxon]}}
          </label>
        </nobr>
      </td>
      <td class="full_taxonomy">{{complete_taxon}}</td>
      {% for sample in samples %}
        <td class="rpkm_value">{{sample_d[sample] | round(4)}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<div id="result"></div>
</div>
<script>
  generate_sparkline();
</script>
